<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>FinFollow</title>
</head>

<body>
    <header>
        <h1><a href='/'>FinFollow</a></h1>
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    <section>
        <h2>Portfolio</h2>
        <p>There's nothing to see here yet!</p>
    </section>
</body>

</html>